<h2>Login de Usuarios</h2>

<form action="">
    <div id="mensajes"></div>
    <input type="email" id="email" name="email" placeholder="ingrese correo electrónico">
    <input type="password" id="password" name="password" placeholder="ingrese contraseña">
    <input type="submit" id="btnSubmit" value="Ingresar">
</form>
<br/>
<a href="/api/sessions/github">Acceder con Github</a>
<hr>

{{>menu}}

<script src="/js/login.js"></script>